  <section id="hero">
    <div class="container-img">
      <div class="img-inicio-sesion"></div>
    </div>
    <diV id="ingresos">
    <h1>Ingresa para guardar tus Contactos <br> de manera Segura y Gratuita.</h1>
      <button [routerLink]="['/inicio-sesion']"> Iniciar Sesión</button>
      <button [routerLink]="['/registrarse']"> Registrarme</button>
    </diV>
  </section>

  <section id="SomosFCIContact">
  <div class="container">
      <div class="texto">
        <h2>Somos <span class="color-acento">FCI Contact</span></h2>
        <p>Empresa argentina dedicada desde hace más de 10 años a la gestion de datos personales para empresas
          nacionales, internacionales y privados</p>
        <p>Nuestra trayectoria avala nuestra seguridad y transparencia en la gestión de datos</p>
      </div>
  </div>
  </section>

  <section id="Caracteristicas">
  <div class="container">
      <div class="img-container"></div>
      <div class="texto">
        <ul>
          <li>✔️​ 100% Flexible</li>
          <li>✔️​ Atencion Personalizada</li>
          <li>✔️​ Soporte 24hs</li>
          <li>✔️​ Seguridad asegurada</li>
        </ul>
      </div>
  </div>
  </section>

<!-- <footer>
  <div class="container">
    <p>&copy; FCI Contact 2022</p>
  </div>
</footer> -->
