<div class="fondo">
  <div id="fondo-ingresos">

    <section id="title">
      <h1>Nuevo Contato</h1>
    </section>

    <section id="ingresos">
      <div class="container">

        <form (ngSubmit)="newcontact(form)" #form="ngForm">

          <div class="inputs">
            <label for="nombre">Nombre</label>
            <input type="nombre" name="nombre" id="nombre" autocomplete="name" placeholder="Ingrese el nombre"
            [(ngModel)]="contactData.nombre" #nombre="ngModel" [maxlength]="15">
          </div>

          <div class="inputs">
            <label for="apellido">Apellido</label>
            <input type="apellido" name="apellido" id="apellido" autocomplete="family-name" placeholder="Ingrese el apellido"
            [(ngModel)]="contactData.apellido"   #apellido="ngModel" [maxlength]="15">
          </div>

          <div class="inputs">
            <label for="mail">Mail</label>
            <input type="mail" name="mail" id="mail" autocomplete="email" placeholder="Ingrese el mail"
            [(ngModel)]="contactData.mail"   #mail="ngModel" pattern='^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$' [maxlength]="30">
          </div>
          <p id="mal-ingreso" *ngIf="mail.touched && mail.errors">Correo electrónico no válido.</p>

          <div class="inputs">
            <label for="telefono">Telefono</label>
            <input type="telefono" name="telefono" id="telefono"  placeholder="Ingrese el telefono"
            [(ngModel)]="contactData.telefono"   #telefono="ngModel" [maxlength]="15">
          </div>

          <div class="inputs">
            <label for="direccion">direccion</label>
            <input type="direccion" name="direccion" id="direccion"  placeholder="Ingrese la direccion"
            [(ngModel)]="contactData.direccion"   #direccion="ngModel" [maxlength]="25">
          </div>

          <div>
            <button type="submit" [disabled]="form.invalid">Cargar</button>
            <!-- <button type="submit" >Cargar</button> -->
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
